<%- include('partials/header') %>

<h1>Mes expériences professionnelles et mes formations</h1>

<nav>
    <button class="btn"><a href="/">Home</a></button>
</nav>

<p>En construction</p>

<%- include('partials/footer') %>
