<%- include('partials/header') %>

<h1>Mes expériences professionnelles et mes formations</h1>

<nav>
    <button class="btn"><a href="/">Home</a></button>
</nav>

<p>En construction</p>
<ul>
    <!-- exp remplace ma variable experiencePro -->
    <% for (let exp of experiencePro) {%>
    <li>
        <a href="/mon_cv_en_ligne/<%= exp.id %>"> <%= exp.poste %> </a>
    </li>
    <%}%>
</ul>

<%- include('partials/footer') %>
