<%- include('./partials/header'); %>

<h1>Serveur Node.js et API REST</h1>

<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/mon_cv_en_ligne">CV en ligne</a></li>
        <li><a href="/mes_projets_numeriques">Projets numériques</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<%- include('./partials/footer'); %>
